# anywhere

*.xml

# specifically, grouped by directory

/testcases.log
/testcases.sum
/site.bak

/testcases/site.bak
/testcases/bits_test.cbmc
/testcases/bits_test.cover

/testcases/3dsolid
/testcases/arc
/testcases/attdef
/testcases/attrib
/testcases/bits_test
/testcases/block
/testcases/body
/testcases/circle
/testcases/decode_test
/testcases/dim_aligned
/testcases/dim_ang2ln
/testcases/dim_ang3pt
/testcases/dim_common
/testcases/dim_diameter
/testcases/dim_linear
/testcases/dim_ordinate
/testcases/dim_radius
/testcases/dynapi_test
/testcases/ellipse
/testcases/endblk
/testcases/hash_test
/testcases/insert
/testcases/libredwg.log
/testcases/libredwg.sum
/testcases/line
/testcases/lwpline
/testcases/minsert
/testcases/mline
/testcases/mtext
/testcases/ole2frame
/testcases/point
/testcases/polyline_2d
/testcases/polyline_3d
/testcases/polyline_mesh
/testcases/polyline_pface
/testcases/ray
/testcases/region
/testcases/seqend
/testcases/shape
/testcases/solid
/testcases/text
/testcases/tolerance
/testcases/trace
/testcases/vertex_2d
/testcases/vertex_3d
/testcases/vertex_mesh
/testcases/vertex_pface
/testcases/xline
/testcases/xrecord

/xmlsuite/testsuite
/xmlsuite/result.htm

/xmlsuite/test_output

/test-data/r1*/*.svg
/test-data/r1*/*.bmp
/test-data/r1*/*.log
/test-data/r1*/*.dxf
/test-data/r1*/*.dxflog
/test-data/20*/*.svg
/test-data/20*/*.bmp
/test-data/20*/*.log
/test-data/20*/*.test
/test-data/20*/*.load_dwg
/test-data/20*/*.dxflog
/test-data/20*/*.dxf

/unit-testing/*.log
