# anywhere

*.xml

# specifically, grouped by directory

/xmlsuite/testsuite
/xmlsuite/result.htm
/xmlsuite/test_output

/test-data/r1*/*.svg
/test-data/r1*/*.bmp
/test-data/r1*/*.log
/test-data/r1*/*.dxf
/test-data/r1*/*.dxflog
/test-data/20*/*.svg
/test-data/20*/*.bmp
/test-data/20*/*.log
/test-data/20*/*.test
/test-data/20*/*.load_dwg
/test-data/20*/*.dxflog
/test-data/20*/*.dxf

/unit-testing/bits_test.cbmc
/unit-testing/bits_test.cover
/unit-testing/*.log
