test/test-data-*
test/issues
test/ossfuzz
test/temp
test/test-big*
test/test-old*
test/patch
test/testcases
doc/*.pdf
doc/*.PDF
doc/*.txt
doc/*.rtf
doc/*.html
doc/*.log
doc/*.info
doc/latex
doc/manual
doc/refman
doc/*-inc
doc/inc-*
*.zip
*.tar.xz
*.sig
GPATH
GRTAGS
GTAGS
ti
to
tz
td
test-data
autom4te.cache
*.log
.deps
.libs
