# globs, anywhere
*.o
*.lo
*.la
*.pyc
*~

# filenames, anywhere
Makefile.in
Makefile
.deps
.libs
site.exp

# globs, in specific dirs
/examples/*.log
/examples/*.bmp

# specific filenames
/.cproject
/.project
/INSTALL
/aclocal.m4
/autom4te.cache/
/bindings/python/libredwg.py
/bindings/python/swig_wrap_python.c
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/py-compile
/build-aux/snap.update-policy
/build-aux/test-driver
/build-aux/texinfo.tex
/config.cache
/config.log
/config.status
/configure
/doc/LibreDWG.info
/doc/stamp-vti
/doc/version.texi
/examples/get_bmp
/examples/load_dwg
/examples/test
/examples/testSVG
/libtool
/m4
/src/config.h
/src/config.h.in
/src/stamp-h1
