*.o
*.lo
*.la

.cproject
.project
Makefile
config.h
config.log
config.status
examples/.deps/
examples/Makefile
examples/dwg_ps
examples/get_bmp
examples/load_dwg
examples/test
examples/testSVG
libtool
src/.deps/
src/.libs/
src/Makefile
stamp-h1
