# globs, anywhere
*.o
*.lo
*.la
*.pyc
*~
*.dSYM
*.i

# filenames, anywhere
Makefile.in
Makefile
.deps
.libs
site.exp
TAGS
gcov.log

# globs, in specific dirs
/00*.patch
/examples/*.log
/examples/*.bmp
/examples/*-dwgrewrite.dwg
/src/*.gcno
/src/*.gcov
/src/*.gcda
/programs/*.log
/programs/*.bmp
/programs/*-dwgrewrite.dwg
/test/testcases/*.gcov
/test/testcases/*.gcno
/test/testcases/*.gcda
/test/xmlsuite/testsuite.gcov
/test/xmlsuite/testsuite.gcno
/test/xmlsuite/testsuite.gcda
/test/unit-testing/*.gcov
/test/unit-testing/*.gcno
/test/unit-testing/*.gcda

# specific filenames
/.gdbinit
/.lldbinit
/.cproject
/.project
/GPATH
/GRTAGS
/GTAGS
/INSTALL
/aclocal.m4
/autom4te.cache/
/bindings/python/libredwg.py
/bindings/python/swig_wrap_python.c
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/py-compile
/build-aux/snap.update-policy
/build-aux/test-driver
/build-aux/texinfo.tex
/check-dwg.log
/check-dwg-valgrind.log
/config.cache
/config.log
/config.status
/configure
/cover_db
/cscope.files
/doc/LibreDWG.info
/doc/LibreDWG.pdf
/doc/stamp-vti
/doc/version.texi
/programs/dwgbmp
/programs/dwgrewrite
/programs/dwgread
/programs/dwg2SVG
/programs/dwg2dxf
/programs/dwg_ps
/programs/dxf2dwg
/examples/dwg2svg2
/examples/load_dwg
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
