# anywhere

*.xml

# specifically, grouped by directory

/testcases.log
/testcases.sum

/testcases/3dsolid
/testcases/arc
/testcases/attdef
/testcases/attrib
/testcases/bits_test
/testcases/block
/testcases/body
/testcases/circle
/testcases/decode_test
/testcases/dim_aligned
/testcases/dim_ang2ln
/testcases/dim_ang3pt
/testcases/dim_diameter
/testcases/dim_linear
/testcases/dim_ordinate
/testcases/dim_radius
/testcases/ellipse
/testcases/endblk
/testcases/insert
/testcases/libredwg.log
/testcases/libredwg.sum
/testcases/line
/testcases/lwpline
/testcases/minsert
/testcases/mline
/testcases/mtext
/testcases/point
/testcases/polyline_2d
/testcases/polyline_3d
/testcases/polyline_mesh
/testcases/polyline_pface
/testcases/ray
/testcases/region
/testcases/seqend
/testcases/shape
/testcases/solid
/testcases/text
/testcases/tolerance
/testcases/trace
/testcases/vertex_2d
/testcases/vertex_3d
/testcases/vertex_mesh
/testcases/vertex_pface
/testcases/xline

/xmlsuite/testsuite
/xmlsuite/result.htm

/xmlsuite/test_output
