/bits_test
/decode_test
/hash_test
/dynapi_test
/dxf_test
/3dface
/3dsolid
/acsh_box_class
/acsh_extrusion_class
/acsh_sweep_class
/aldimobjectcontextdata
/appid
/appid_control
/arc
/arc_dimension
/assoc2dconstraintgroup
/assocaction
/assocaligneddimactionbody
/assocdependency
/assocextrudedsurfaceactionbody
/assocloftedsurfaceactionbody
/assocnetwork
/assocosnappointrefactionparam
/assocperssubentmanager
/assocplanesurfaceactionbody
/assocrevolvedsurfaceactionbody
/assocsweptsurfaceactionbody
/attdef
/attrib
/blkrefobjectcontextdata
/block
/block_control
/block_header
/body
/camera
/cellstylemap
/circle
/datalink
/datatable
/dbcolor
/dictionary
/dictionaryvar
/dictionarywdflt
/dimassoc
/dimension_aligned
/dimension_ang2ln
/dimension_ang3pt
/dimension_diameter
/dimension_linear
/dimension_ordinate
/dimension_radius
/dimstyle
/dimstyle_control
/dummy
/dynamicblockpurgepreventer
/ellipse
/endblk
/evaluation_graph
/extrudedsurface
/field
/fieldlist
/geodata
/geomapimage
/geopositionmarker
/group
/hatch
/helix
/idbuffer
/image
/imagedef
/imagedef_reactor
/insert
/layer
/layer_control
/layer_index
/layout
/leader
/light
/lightlist
/line
/loftedsurface
/long_transaction
/ltype
/ltype_control
/lwpolyline
/material
/mesh
/minsert
/mleaderobjectcontextdata
/mleaderstyle
/mline
/mlinestyle
/mtext
/mtextobjectcontextdata
/multileader
/navisworksmodeldef
/object_ptr
/objectcontextdata
/ole2frame
/oleframe
/perssubentmanager
/placeholder
/planesurface
/plotsettings
/point
/polyline_2d
/polyline_3d
/polyline_mesh
/polyline_pface
/proxy_entity
/proxy_object
/rastervariables
/ray
/region
/renderenvironment
/renderglobal
/revolvedsurface
/scale
/seqend
/shape
/solid
/sortentstable
/spatial_filter
/spatial_index
/spline
/style
/style_control
/sun
/sunstudy
/sweptsurface
/table
/tablecontent
/tablegeometry
/tablestyle
/text
/textobjectcontextdata
/leaderobjectcontextdata
/mtextattributeobjectcontextdata
/tolerance
/trace
/ucs
/ucs_control
/underlay
/underlaydefinition
/unknown_ent
/unknown_obj
/vba_project
/vertex_2d
/vertex_3d
/vertex_mesh
/vertex_pface
/vertex_pface_face
/view
/view_control
/viewport
/visualstyle
/vport
/vport_control
/vport_entity_control
/vport_entity_header
/wipeout
/wipeoutvariables
/xline
/xrecord
